button {
  background-color: black;
  color: #8ef100;
  padding: 8px;
}

.this_month_info {
  border: 1px solid royalblue;
  margin: 30px 20px;
  padding: 20px;
}

.icon {
  font-size: 80px;
  text-align: center;
}

.calendar-box {
  background-color: black;
  margin-bottom: 500px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.calendar-box table {
  width: 80%;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
}

.calendar-box table tr td {
  padding: 10px;
  border-bottom: 1px solid yellow;
  width: 100px;
}

.today {
  color: red;
  background-color: rgb(39, 21, 14);
}

.selected {
  color: aqua;
  background-color: darkblue;
}

.month-name,
.year-name {
  text-align: center;
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.month-navigation {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
}

.month-picker {
  background-color: navy;
  display: flex;
  justify-content: center;
}

.calendar-day {
  height: 80px;
}

.calendar-month {
  margin: 0 auto;
}

.month-picker table td {
  border: 1px solid rgb(14, 216, 199);
  padding: 10px;
  text-align: center;
}

.change_year_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.year_input {
  height: 45px;
  text-align: center;
  font-size: 24px;
  width: 200px;
  padding: 30px;
}

.previous_button:before {
  content: '<<';
}

.next_button:before {
  content: '>>';
}

.selected_day_event_panel {
  margin: 20px 20px;
  border: 1px solid red;
  padding: 20px 30px;
}

.selected_day_event_panel_button_row {
  text-align: center;
}

.new_event_form {
  border: 1px solid blueviolet;
}

.category_dashboard {
  border: 1px solid yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category_dashboard > * {
  border: 1px solid orchid;
  margin: 0 100px;
  min-width: 300px;
}

.new_category_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 20%;
}

.new_category_form label {
  margin-top: 12px;
  margin-bottom: 10px;
}

.new_category_form input {
  width: 90%;
}

.category_controls {
  padding: 0 40px;
  width: 30%;
}

.category_item {
  background-color: darkblue;
  padding: 5px;
  margin: 5px;
}

.category_item:hover {
  background-color: slategray;
}
