.this_month_info {
  border: 1px solid royalblue;
  margin: 30px 20px;
  padding: 20px;
}

.icon {
  font-size: 80px;
  text-align: center;
}

.calendar-box {
  background-color: black;
  margin-bottom: 500px;
  padding-bottom: 50px;
}

.calendar-box table {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar-box table tr td {
  padding: 10px;
  border-bottom: 1px solid yellow;
  width: 200px;
}

.today {
  color: red;
  background-color: rgb(39, 21, 14);
}

.month-name,
.year-name {
  text-align: center;
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.month-navigation {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
}

.month-picker {
  background-color: navy;
  display: flex;
  justify-content: center;
}

.calendar-month {
  margin: 0 auto;
}

.month-picker table td {
  border: 1px solid rgb(14, 216, 199);
  padding: 10px;
  text-align: center;
}

.change_year_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.year_input {
  height: 45px;
  text-align: center;
  font-size: 24px;
  width: 200px;
  padding: 30px;
}
